<a href="https://colab.research.google.com/github/KedarM108/Data-Science-/blob/main/practical3_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Part 1**

In [ ]:
import pandas as pd

# Load the dataset into a Pandas dataframe
data = pd.read_csv("https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Customer%20Spending%20Score.csv")

In [ ]:
data.describe()

              Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000          200.000000              200.000000
mean    38.850000        60560.000000               50.200000
std     13.969007        26264.721165               25.823522
min     18.000000        15000.000000                1.000000
25%     28.750000        41500.000000               34.750000
50%     36.000000        61500.000000               50.000000
75%     49.000000        78000.000000               73.000000
max     70.000000       137000.000000               99.000000

In [ ]:
data

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19               15000                      39
1      Male   21               15000                      81
2    Female   20               16000                       6
3    Female   23               16000                      77
4    Female   31               17000                      40
..      ...  ...                 ...                     ...
195  Female   35              120000                      79
196  Female   45              126000                      28
197    Male   32              126000                      74
198    Male   32              137000                      18
199    Male   30              137000                      83

[200 rows x 4 columns]

In [ ]:
grouped_data = data.groupby('Gender')
summary_stats = grouped_data.agg(['mean', 'median', 'min', 'max', 'std'])[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']]

In [ ]:
print(summary_stats)

              Age                           Annual Income (k$)           \
             mean median min max        std               mean   median
Gender
Female  38.098214   35.0  18  68  12.644095       59250.000000  60000.0
Male    39.806818   37.0  18  70  15.514812       62227.272727  62500.0

                                    Spending Score (1-100)                 \
          min     max           std                   mean median min max
Gender
Female  16000  126000  26011.951515              51.526786   50.0   5  99
Male    15000  137000  26638.373182              48.511364   50.0   1  97


             std
Gender
Female  24.11495
Male    27.89677

# **Part 2**

In [ ]:
import pandas as pd

In [ ]:
iris = pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/IRIS.csv')

In [ ]:
filtered_df = iris[iris['species'].isin(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])]

In [ ]:
filtered_df.groupby('species').describe()

                sepal_length                                              \
                       count   mean       std  min    25%  50%  75%  max
species
Iris-setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                sepal_width         ... petal_length      petal_width         \
                      count   mean  ...          75%  max       count   mean
species                             ...
Iris-setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
Iris-versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Iris-virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                      std  min  25%  50%  75%  max
species
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [ ]:
filtered_df.groupby('species').std()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa          0.352490     0.381024      0.173511     0.107210
Iris-versicolor      0.516171     0.313798      0.469911     0.197753
Iris-virginica       0.635880     0.322497      0.551895     0.274650

In [ ]:
filtered_df.groupby('species').mean()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026